<%= form_for(@reg_card) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question, size: "30x5" %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer, size: "30x5" %>
  </div>
  <div class="actions">
    <%= f.submit "Edit Card",class: "btn btn-primary"%>
  </div>
<% end %>
