<h1>All regular cards</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reg_cards.each do |reg_card| %>
  <tr>
    <td><%= reg_card.question %></td>
    <td><%= reg_card.answer %></td>
    <td><%= link_to 'Show', reg_card %></td>
    <td><%= link_to 'Edit', edit_reg_card_path(reg_card) %></td>
    <td><%= link_to 'Destroy', reg_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regular card', new_reg_card_path %>
